#home {
  width: 100%;
  height: 100vh;
  background-image: url('../images/night.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #C0DA55;
  text-align: center;

  .carousel-indicators {
    position: relative;
    top: 25em;
  }

 .carousel-control.right {
    background-color: transparent;
    margin-top: 3em; 
    color: #719DCA;
  }

  .carousel-control.left {
    background-color: transparent; 
    margin-top: 3em;
    color: #719DCA;
  }

  .carousel-content h2 {
    font-size: 600;
    color: #FFF;
    // margin-top: 0em;
  }


  .show-btn {
    font-size: 1.1em;
    padding: 1em 1em;
    font-weight: bold;
    margin: 4em 0;
    display: inline-block;
    background-color: #719DCA;
    color: blue;
    margin-right: 0em;
    margin-top: 10em;

    &, &:hover {
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  .meta-info {
  font-size: 400;
  color: #FFF;
  }
}






