#services {
  min-height: 35em;
  .img-container {
    // padding:0;
    
  }

  h4 {
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3em;
  }
  
  p.code {
    font-size: 1.1em;
    margin: 2em 0;
  }

  a {
    font-size: 1.1em;
    padding: 1em 1em;
    font-weight: bold;
    margin: 2em 0;
    display: inline-block;

    &, &:hover {
      background-color: orange;
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  .bg-service {
    background-image: url("../images/key.jpg");
    background-size: cover;
    min-height: 426px;
  }

  .img {
    background-size: cover;
    // height: 30em;
  }

  .paras{
    background-color: #ffc056;
    // height: 30em;
  }
}